@model IEnumerable<TallerCodeFirstMVC.Models.Jugador>

@{
    ViewData["Title"] = "Index";
}

<h1>Jugadores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="mb-3">
    <label for="filtrarPorEquipo" class="mb-2">Filtrar por equipo:</label>
    <select id="filtrarPorEquipo" class="form-control">
        <option value="">Todos los Equipos</option>
        @foreach (var equipo in ViewBag.Equipos)
        {
            <option value="@equipo.Id">@equipo.Id</option>
        }
    </select>
</div>

<table class="table" id="tablaFutbolistas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr equipo-id="@item.idEquipo">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        document.getElementById('filtrarPorEquipo').addEventListener('change', (event) => {
            const selectedEquipoId = event.target.value;
            const rows = document.querySelectorAll('#tablaFutbolistas tbody tr');
            rows.forEach(row => {
                const equipoId = row.getAttribute('equipo-id');
                if (selectedEquipoId === "" || equipoId === selectedEquipoId) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        });
    </script>
}